// @import "compass/css3";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.card {
  width: 300px;
  height: 600px;

  border: 1px solid #ddd;
  box-shadow: 10px 12px 15px 3px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 10px 12px 15px 3px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 10px 12px 15px 3px rgba(0, 0, 0, 0.24);
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

.buttons {
  // position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
  z-index: 10;

  a {
    color: gray;
    padding: 8px;

    &:hover {
      background: #efefef;
      color: black;
    }

    &:nth-child(1) {
      border-right: 2px solid #efefef;
    }

    &:nth-child(2) {
      border-right: 2px solid #efefef;
    }
  }
}

.button-children {
  display: flex;
  margin-top: 16px;
  border: 2px solid #efefef;
  border-radius: 8px;
}
.pressMe {
  
  
    transition-duration: .2s;
  display: flex;
  width: 80px;
  height: 70px;
  justify-content: center;
  
  align-items: center;
  background: white;
  display: flex;
  margin-top: 30px;
  padding: 8px;
  color:black;
  border: 2px solid #dedede;
  border-radius: 8px;
    ox-shadow: 10px 12px 15px 3px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 10px 12px 15px 3px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 10px 12px 15px 3px rgba(0, 0, 0, 0.24);
}

.pressMe:hover {
  background: rgb(255, 255, 170);
  color: black;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.02), 16px 16px rgba(0, 0, 0, 0.04),  1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

// .text-shadow-test {
//   // width: 600px;
//   //   margin: 100px auto;
//     @include transform(translateZ(0));
//     @include text-shadow(3px 3px 0px rgba(196, 23, 83, 0.1));
//     @include single-transition(text-shadow, 20ms);
//     -webkit-text-stroke: 1px rgba(196, 23, 83, 0.5);
// }
.front-touched {
  transform: rotateY(180deg);
  // display: hidden;
  opacity: 0;
}
.back-touched {
  position: absolute;
  opacity: 1;
  transform: rotateY(0deg);
}

.flip {
  position: relative;

  >.front,
  >.back {
    display: block;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: 1.3s;
    transition-property: transform, opacity;
  }

  >.front1 {
    transform: rotateY(0deg);
    // opacity: 1;
  }

  >.back1 {
    position: absolute;
    opacity: 0;
    transform: rotateY(-180deg);
    z-index: -1;
  }

  // &:hover, &:active{
  //   >.front {
  //     transform: rotateY(180deg);
  //     // display: none;
  //     opacity: 0;
  //   }

  //   >.back {
  //     opacity: 1;
  //     transform: rotateY(0deg);
  //   }
  // }

  // &.flip-vertical {
  //   >.back {
  //     transform: rotateX(-180deg);
  //   }

  //   &:hover {
  //     >.front {
  //       transform: rotateX(180deg);
  //     }

  //     >.back {
  //       transform: rotateX(0deg);
  //     }
  //   }
  // }
}

// custom
// .flip {

//   >.front,
//   >.back {
//     // display: block;
//     // color: white;
//     // width: inherit;

  
//   }
// }